@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&family=Dela+Gothic+One&display=swap');

:root {
    --brandDarkGreen: #1C491F;
    --brandLightGreen: #A5D193; 
}

body, 
html, 
div#container {
    width:100%;
    height:100%;
    background-color: var(--brandDarkGreen);
    padding: 0px;
    margin: 0px;
    color: var(--brandLightGreen);
    font-family: Chivo, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


h1{
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;

}
h2{
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

p{
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


div#top{
    border-bottom: 1px solid var(--brandLightGreen);
    display:flex;
    align-items: center;
    padding: 10px;
    height: 60px;
}

div#left{
}


span#title{
    font-weight:bold;
    font-family: Dela Gothic One, Helvetica, Arial, sans-serif;
    font-size: 32px;
}
img#smallLogo{
    padding: 0px 10px;
    position: relative;
    top: 5px;

}


div#hspace{
    flex-grow: 1;
}

div#right{
}

div#bottom{
    flex-grow: 1;
}

div#center{
    display:flex;
    padding-top:20vh;
    height:50%;
}

button#installButton {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: none;
    color: var(--brandDarkGreen);
    background-color: var(--brandLightGreen);
    font-weight: bold;
}

#mobileOnlyNotification {
    font-style: italic;
}

button#submitButton {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: none;
    color: var(--brandDarkGreen);
    background-color: var(--brandLightGreen);
    font-weight: bold;
}

input{
    width:90%;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: none;
    color: var(--brandDarkGreen);
    background-color: var(--brandLightGreen);
    font-weight: bold;
    line-height: 24px;

}

form{ /*Don't @ me */
    width: 60%;
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
}

a:link { /* link */
    color:var(--brandLightGreen);
    text-decoration: none;
}
  
  a:hover { /* mouse on link */
    color:var(--brandLightGreen);
    filter: brightness(70%);
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    div.hidesmall,
    img.hidesmall{
      display: none;
    }
    div#textcontainer{
        width: 100% !important;
    }
 }

 a.button, button {
    color: #1C491F;
    background-color: #A5D193;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 30px;
    
    display: inline-block;
    margin: 4px 2px;
    text-decoration: none;
    font-weight: 700;
}

a.button:hover{
    background-color: #86b175;
}

div#textcontainer{
    padding: 40px 40px;
}

