<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/406fdaf1d8.js" crossorigin="anonymous"></script> <!-- font awesome -->
        <link rel="stylesheet" href="{{ url_for('app_bp.static', filename='appStyle.css') }}" />
        {% block header %}{% endblock %}
    </head>
    <body>

        <div id="main">
            <nav id="navbar">

                <div id="leftnav">
                    <img id="smallLogo" src="{{ url_for('app_bp.static', filename='smallLogo.svg') }}" alt="Small Logo">

                    <span id="title">Arcadia</span>
                </div>
                <div id="spacer"></div>
                <div id="rightnav">
                    {% if session['UserName'] %}
                    <a href="{{ url_for('app_bp.logout')}}" id="logoutbutton">Logout</a>
                    {% endif %}

                </div>

            
            </nav>

            <div id="maincontent">
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>
</html>
