{% extends "appbase.jinja2" %}

{% block header%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
crossorigin=""></script>   

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js" integrity="sha512-8BqQ2RH4L4sQhV41ZB24fUc1nGcjmrTA6DILV/aTPYuUzo+wBdYdp0fvQ76Sxgf36p787CXF7TktWlcxu/zyOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">


<script src="https://cdn.jsdelivr.net/npm/leaflet-arrowheads@1.4.0/src/leaflet-arrowheads.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-geometryutil@0.10.1/src/leaflet.geometryutil.js"></script>
{% endblock %}


{% block main %}

<div id="central" style="display:flex;flex-direction:column;justify-content:center;height:100%;">
    <div id="map" style="flex-grow:2;margin-right: 15px;margin-left:15px; ">
    </div>
    <p id="choose" style="text-align:center; margin: 10px 10px 10px 10px;">First navigate inside a red circle to find an arcade!</p>
    <button id="guessButton" onclick="getUserLocation(guess)" style="display:none;margin: 0px 10px 10px 10px;">Guess Here!</button>
</div>

<script>

const LOCATION_UPDATE_DELAY = 4000;

var userMarker = false;
var map;
var guessMarkerStyle = L.AwesomeMarkers.icon({
    markerColor: 'green'
});   
var arcadeMarkerStyle = L.AwesomeMarkers.icon({ //TESTING
    markerColor: 'orange'
});   
var inCircle = false;
var currentCircle;

var circles = L.featureGroup();

function makeCircle(circleDetails,coords) {
    let from = new L.LatLng(coords["lat"], coords["lon"]);
    let to = new L.LatLng(circleDetails.circlelat, circleDetails.circlelong)
    let distance = (from).distanceTo(to).toFixed(0)
    let colour,fillColour;

    //FOR TESTING
    L.marker([circleDetails.arcadelat, circleDetails.arcadelong], {icon: arcadeMarkerStyle}).addTo(map)
    .openPopup();
    

    //console.log(distance)
    if (distance <= circleDetails.radius) {
        colour = "green";
        fillColour = "#51d675"
        inCircle = true;
    }
    else {
        colour = "red";
        fillColour = "#f03"
    }

    let circle = L.circle([circleDetails.circlelat, circleDetails.circlelong], {
        color: colour,
        fillColor: fillColour,
        fillOpacity: 0.5,
        radius: circleDetails.radius
    })//.on("click", circleClick);
    circle.poilat = circleDetails.poilat
    circle.poilong = circleDetails.poilong
    circle.arcadeid = circleDetails.arcadeid
    circle.addTo(circles)
    map.addLayer(circles)

    if (distance <= circleDetails.radius) {
        currentCircle = circle
    }
}

function getUserLocation(fnOf) { 
  //Gets access to the user's location via the geolocation API, and pans the map to where they are, before requesting current circles from the api.
  if (navigator.geolocation) { //Geolocation
    navigator.geolocation.getCurrentPosition(CoordObject => {
        let userCoords = {"lat":CoordObject.coords.latitude,"lon":CoordObject.coords.longitude}
        fnOf(userCoords)
    })
  }
  else { //No geolocation available
    alert("Unfortunately you can't play Arcadia on this device because your browser does not support GPS; try installing the latest version of Google Chrome or enabling the location permission.")
  }

}

function getCircles(coords) {
    //console.log(coords)
    fetch("{{url_for("api_bp.find_games")}}", {
        method : "POST",
        body: JSON.stringify({
            "userlat": coords["lat"],
            "userlong": coords["lon"]
        })
    })
    .then((response) => response.json())
    .then( (data) => {
        inCircle = false;
        map.removeLayer(circles);
        circles = L.featureGroup();

        for (loc of data["locations"]) {
            makeCircle(loc,coords)
        }
    })
}

function updateUserPosn(coords) {
    if (!userMarker) {
        let myLatLng = new L.LatLng(coords["lat"], coords["lon"]);
        userMarker = new L.marker(coords).addTo(map);
        map.panTo(myLatLng);    
    }
    else {
        let myLatLng = new L.LatLng(coords["lat"], coords["lon"]);
        userMarker.setLatLng(myLatLng)
        //map.panTo(myLatLng);    
    }
    getCircles(coords) //display circles 
    if (inCircle) {
        document.getElementById("guessButton").style.display = "block";
        document.getElementById("choose").display = "none";
    }
    else {
        document.getElementById("guessButton").style.display = "none";
        document.getElementById("choose").style.display = "block";    
    }    
}

function resolveGuess(data,coords) {
    if ("success" in data) {
        location.reload();
    }
    else {
        L.marker([coords["lat"],coords["lon"]], {icon: guessMarkerStyle}).addTo(map)
                    .bindPopup(`Distance to Arcade: ${Math.round(data["distance"])}m<br />Direction to Arcade: ${data["bearing"]}`)
                    .openPopup();
    }
}

function guess(coords) {

    fetch("{{url_for("api_bp.receive_guess",arcade_id='DUMMYARCADEID')}}".replace("DUMMYARCADEID",currentCircle.arcadeid), {
        method : "POST",
        body: JSON.stringify({
            userlat: coords["lat"].toFixed(6),
            userlong: coords["lon"].toFixed(6),
            poilat: Number(currentCircle.poilat).toFixed(6),
            poilong: Number(currentCircle.poilong).toFixed(6)
        })
    })
    .then((response) => response.json())
    .then( (data) => resolveGuess(data,coords))
}


//On loadup
//Create a leaflet map object with map tiles
map = L.map('map').setView([51.505, -0.09], 13); 

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


function update() {
    getUserLocation(updateUserPosn)
}

update()
setInterval(update,LOCATION_UPDATE_DELAY) //update location every 2000

/*
let cookies = getCookieDict()
if (cookies["chosen"]) {
    document.getElementById("guessButton").style.display = "block";
    document.getElementById("choose").innerHTML = "";

}
else {
    document.getElementById("guessButton").style.display = "none";
    document.getElementById("choose").style.display = "block";    
}
*/




</script>

<script>

</script>

{% endblock %}