{% extends "appbase.jinja2" %}
{% block main %}

<div id="maincontainer" style="display:flex;height:100%;">
    
    <canvas id="gamecanvas" style="background-color:var(--brandLightGreen);flex-grow:2;">

    </canvas>

    <script src="{{GameScript}}">
    </script>

</div>

{% endblock %}