{% extends "appbase.jinja2" %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%endblock%}

{% block main %}

<div id="maincontainer" style="display:flex;height:100%;">
    
    <canvas id="gamecanvas" style="background-color:var(--brandLightGreen);flex-grow:2;">

    </canvas>

    <script src="{{GameScript}}">
    </script>

</div>

{% endblock %}