{% extends "appbase.jinja2" %}
{% block main %}

<div id="maincontainer">

    <div id="maintopimage">
    </div>

    <div id="mainbottom">

        <h1>Congratulations</h1>
         <h2>You now have access to the arcade!</h2>

    </div>


</div >

{% endblock %}