{% extends "appbase.jinja2" %}

{% block header %}
<link rel="stylesheet" href="{{url_for('app_bp.static', filename='accountStyle.css')}}">
{% endblock %}

{% block main %}

    <form method="POST">
        <h2> Register </h2>
        <label> Username </label><br>
        <input type="text" id="general" name="username" required><br><br>
        <label> Password </label><br>
        <input type="password" id="general" name="password" required><br><br>
        <input id="submit" type="submit" value="Submit"><br><br>
    </form> 

{% endblock %}