<!DOCTYPE html>

<html>
    <head>
        <script src="https://kit.fontawesome.com/406fdaf1d8.js" crossorigin="anonymous"></script> <!-- font awesome -->
        <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

    <div id="container">

        <div id="top">
            <div id="left">
                <span>Arcadia </span>
            </div>
            <div id="hspace"></div>
            <div id="right">
                <span>Leaderboards </span>
            </div>
        </div>
        <div id="main" style="height: 90%;">
            
            <div id="center">
                <div class="hide">
                <div style="flex-grow: 1;"></div>
                <div style=" margin-right:60px;">
                    <img class="mainimage" src="{{ url_for('home_bp.static', filename='img/main.png') }}">
                </div>
                </div>
                <div style="width:30%;">
                    <h1>Play the Earth!</h1>
                    <p>Arcadia is a brand new way of interacting with the outdoors.</p> 
                    <button id="installButton">Install Arcadia Now! <i class="fa-solid fa-location-dot"></i></button>
                    <p id="mobileOnlyNotification">Open this page on your mobile phone to install Arcadia!</p>
                </div>

                <div style="flex-grow: 1;"></div>
                
            </div>

        </div>

    </div>

        <script>
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
               document.getElementById("mobileOnlyNotification").style.display = "none";
            }  
            else {
               document.getElementById("installButton").style.display = "none";
            }              
        </script>        

    </body>
</html>
