@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&family=Dela+Gothic+One&display=swap');

:root {
    --brandDarkGreen: #1C491F;
    --brandLightGreen: #A5D193; 
}

body, 

html, 

div#container {
    width:100%;
    height:100%;
    background-color: var(--brandDarkGreen);
    padding: 0px;
    margin: 0px;
    color: var(--brandLightGreen);
    font-family: Chivo, Helvetica, Arial, sans-serif;
}
div#container{
    display: flex;
    flex-direction: column;
}
div#top{
    height: 50px;
    border-bottom: 1px solid var(--brandLightGreen);
    display:flex;
    align-items: center;
}
div#left{

}
div#hspace{
    flex-grow: 1;
}
div#right{
}

div#bottom{
    flex-grow: 1;
}

div#center{
    display:flex;
    padding-top:20vh;
    height:50%;
}

button#installButton {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: none;
    color: var(--brandDarkGreen);
    background-color: var(--brandLightGreen);
    font-weight: bold;
}

#mobileOnlyNotification {
    font-style: italic;
}